@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Uchen', serif;
}
body{
    background-color:lightblue;
}
.container{
    width: 60%;
    margin: 150px auto;
}
.container #input{
    float: left;
    outline: none;
    border: none;
    background-color: whitesmoke;
    border-radius: 12px 0px;
    width: 45%;
    padding: 10px;
    font-size: 20px;
}
.container #select{
    float: left;
    outline: none;
    border: none;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-left: 5%;
    width: 40%;
    padding: 10px;
    font-size: 20px;
}
.container #input[type="text"]:focus{
    border: 2px solid black;
}
.container ol{
    list-style-type: none;
    /*background-color: blue;*/
    font-size: 18px;
    margin-top: 20px;
    width: 100%;
}
.container ol li{
    display: flex;
    background-color:crimson;
    cursor: pointer;
    color: #fff;
    margin-top: 8px;
    padding: 8px;
    border-radius: 10px;
}
.container li:hover{
    background-color:#dc135c;
}
.node{
    width: 85%;
}
.check, .icon{
    width: 5%;
}
.check{
    color:springgreen;
}
button{
    border: none;
    outline: none;
    background-color: forestgreen;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 10%;
    padding: 10px;
    border-radius: 0px 12px;
    font-size: 20px;
}
